﻿<%@ Page Language="C#" Inherits="Final_Project.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
