﻿<%@ Page Language="C#" MasterPageFile="~/SiteMaster.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Final_Project.Home" Theme="masterpages"%>

<asp:Content runat="server" ContentPlaceHolderID="home">
       <asp:SqlDataSource ConnectionString="<%$ ConnectionStrings:sql_con%>" id="page_select" runat="server">
                
       </asp:SqlDataSource>  
    
      <asp:SqlDataSource ConnectionString="<%$ ConnectionStrings:sql_con%>" id="delete_page" runat="server">
                
    </asp:SqlDataSource>
      
       <h2>MANAGE PAGES</h2>
       <asp:Button runat="server" Text="Publish New Page" OnClick="Add_Page" CssClass="add_page"/>
    
       <asp:DataGrid runat="server" id="page_list" CssClass="code">
             
       </asp:DataGrid>
  
       <div id="debug" runat="server">
     
    </div>
    
</asp:Content>

    