﻿<%@ Page Language="C#" MasterPageFile="~/SiteMaster.master" CodeFile="Publish.aspx.cs" AutoEventWireup="true" Inherits="Final_Project.Publish"%>

<asp:Content runat="server" ContentPlaceHolderID="publish">
       <div>
           <h3>Publish Page</h3>
        </div>>
    <div id="debug" runat="server">
        
    </div>
</asp:Content>
