﻿<%@ Page Language="C#" MasterPageFile="~/SiteMaster.master" AutoEventWireup="true" CodeFile="Search.aspx.cs" Inherits="Final_Project.Search" Theme="masterpages"%>

<asp:Content runat="server" ContentPlaceHolderID="search">
     <br><br><h1 id="title" runat="server"></h1><br><br>

     <asp:SqlDataSource ConnectionString="<%$ ConnectionStrings:sql_con%>" id="page_select" runat="server">
                
     </asp:SqlDataSource>
       
     <asp:DataGrid runat="server" id="page_list" AutoGenerateColumns="true">
                
     </asp:DataGrid> 
</asp:Content>
