﻿@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

html {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}
.tablerow {
    transition: background 400ms;
    border-bottom: 1px solid grey;
}
.tablerow:hover {
    background: #86A59C;
    color: #fff;
}
td, th{
    padding: 15px;
    font-size: 18px;
    text-align: center;
}
a{
    text-decoration:none;
}
td:first-child {
    text-align: left;
}
.code{
    margin: 0 auto;
}
.add_page {
    float: right;
    margin-bottom: 10px;
    margin-right: 2.5%;
    background-color: #7D5BA6;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}
h2{
    width: 400px;  
    margin-top:60px;
    margin-left:2.5%;
    float:left;
}
.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 20px;
    background-color: #89CE94;
    color: #fff;
    border-radius: 20px;
}
.center{
    margin-top: 30px;
    margin-left: 30%;
}
.publish {
    margin-bottom: 10px;
    margin-right: 2.5%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 133px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.edit, .delete {
    margin-bottom: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 95px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.delete {
    background-color: red; 
}