﻿*{
    margin:0;
    padding:0;
}
/*===============HEADER===============*/
#header {
    background-color: #232C33;
    height: 70px;
}
#nav{
    float: left;
}
#main-menu ul li a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}
#main-menu {
    margin-left: 40px;
}
#main-menu ul li:first-child  {
    margin-right: 20px;
}
#main-menu ul li{
    display: inline-block;
    padding: 8px 12px;
    margin-top: 15px;
}
#main-menu ul li:hover {
    transition: .5s ease;
    background-color: #5A7D7C;
}
#search-title {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
input[type=text] {
    padding: 8px 15px;
    margin: 8px 0;
    border-radius: 20px;
}
#search-title .search_btn {
    margin-right: -950px;
    opacity:0;
}
#footer{
    height: 50px;
    margin-left:2.5%;
    margin-top: 50px;
}

